.footer-banner {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
}

.footer-banner hr {
  border: none;
  height: 2px;
  background-color: #000000;
  margin: 0;
}

.footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}