.custom-button {
  background-color: var(--primary-color);
  color: #FFFFFF;
  border: 5px round var(--primary-color);
  border-radius: 2px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: var(--secondary-color);
  color: #FFFFFF;
}