.banner {
  background-image: url(../../assets/money.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.banner h1 {
  font-size: 48px;
  margin: 0;
  color: black;
  padding: 100px 20px;
  text-align: center;
}